# Public IPv4 assigned to this server's interface.
TURN_PUBLIC_IP=
# Relay hostname, used as the coturn realm.
TURN_REALM=
# Shared secret, also set as COUCHSWARM_TURN_SECRET on the website. Generate with: openssl rand -hex 32
COUCHSWARM_TURN_SECRET=
